<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

<a class="navbar-brand" href="#">TripApp</a>

<button class="navbar-toggler" type="button">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse">

<ul class="navbar-nav mr-auto">

<li class="nav-item">
<a class="nav-link active" href="/">Inicio</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/trips/list">Trips</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/trips/create">Crear Trip</a>
</li>

</ul>

</div>

</nav>